<?xml version="1.0" encoding="utf-8" ?>
<!--
// ******************************************************************************************
// Arroyo Auz Christian Xavier.                                                             *
// 05/08/2016.                                                                              *
// ******************************************************************************************
-->


<configuration>
  <!--Codigo Predeterminado para establecer la version del .NetFramework-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--Codigo agregado que se encarga de establecer el nombre, el tipo de protoco, el puerto de escucha y las clases de contrato-->
  <system.serviceModel>
    <!--Servicio para CalculadoraDerivativos-->
    <services>
      <service name="ServicioCalculadoraDerivativos.Calculadora"
               behaviorConfiguration="NewBehavior0">
        <!-- El servicio utiliza el extremo de intercambio de metadatos para describirse a sí mismo ante los clientes.-->
        <endpoint address="http://localhost:8080/Derivativos/Calculadora"
                  binding="basicHttpBinding"
                  contract="ServicioCalculadoraDerivativos.ICalculadoraDerivativos"/>
        <!-- El servicio utiliza el extremo para la Suma-->
        <endpoint address="http://localhost:8080/Derivativos/Calculadora"
                  binding="basicHttpBinding"
                  contract="ServicioCalculadoraDerivativos.ICalculadoraSuma"/>
        <!-- El servicio utiliza el extremo para la Resta-->
        <endpoint address="http://localhost:8080/Derivativos/Calculadora"
                  binding="basicHttpBinding"
                  contract="ServicioCalculadoraDerivativos.ICalculadoraResta"/>
        <!-- El servicio utiliza el extremo para la multiplicacion-->
        <endpoint address="http://localhost:8080/Derivativos/Calculadora"
                  binding="basicHttpBinding"
                  contract="ServicioCalculadoraDerivativos.ICalculadoraMultiplicacion"/>
        <!-- El servicio utiliza el extremo para la division-->
        <endpoint address="http://localhost:8080/Derivativos/Calculadora"
                  binding="basicHttpBinding"
                  contract="ServicioCalculadoraDerivativos.ICalculadoraDivision"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <!--Obtiene o establece un valor que indica si se debe publicar metadatos de servicio para la recuperación utilizando un HTTP / petición GET-->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>