<?xml version="1.0" encoding="utf-8" ?>
<!--
// ******************************************************************************************
// Arroyo Auz Christian Xavier.                                                             *
// 05/08/2016.                                                                              *
// ******************************************************************************************
-->


<configuration>
  <!--Codigo Predeterminado para establecer la version del .NetFramework-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--Codigo agregado que se encarga de establecer el nombre, el tipo de protoco, el puerto de escucha y las clases de contrato-->
  <system.serviceModel>
    <bindings>
      <!--Representa un enlace que un servicio WCF puede utilizar para configurar y exponer extremos que pueden comunicarse con servicios Web-->
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalculadoraDerivativos" />
        <binding name="BasicHttpBinding_ICalculadoraSuma" />
        <binding name="BasicHttpBinding_ICalculadoraResta" />
        <binding name="BasicHttpBinding_ICalculadoraMultiplicacion" />
        <binding name="BasicHttpBinding_ICalculadoraDivision" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- El servicio utiliza el extremo de intercambio de metadatos para describirse a sí mismo ante los clientes.-->
      <endpoint address="http://localhost:8080/Derivativos/Calculadora"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculadoraDerivativos"
          contract="ServicioDerivativos.ICalculadoraDerivativos" name="BasicHttpBinding_ICalculadoraDerivativos" />
      <!-- El servicio utiliza el extremo para la Suma-->
      <endpoint address="http://localhost:8080/Derivativos/Calculadora"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculadoraSuma"
          contract="ServicioDerivativos.ICalculadoraSuma" name="BasicHttpBinding_ICalculadoraSuma" />
      <!-- El servicio utiliza el extremo para la Resta-->
      <endpoint address="http://localhost:8080/Derivativos/Calculadora"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculadoraResta"
          contract="ServicioDerivativos.ICalculadoraResta" name="BasicHttpBinding_ICalculadoraResta" />
      <!-- El servicio utiliza el extremo para la Multiplicacion-->
      <endpoint address="http://localhost:8080/Derivativos/Calculadora"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculadoraMultiplicacion"
          contract="ServicioDerivativos.ICalculadoraMultiplicacion"
          name="BasicHttpBinding_ICalculadoraMultiplicacion" />
      <!-- El servicio utiliza el extremo para la Division-->
      <endpoint address="http://localhost:8080/Derivativos/Calculadora"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculadoraDivision"
          contract="ServicioDerivativos.ICalculadoraDivision" name="BasicHttpBinding_ICalculadoraDivision" />
    </client>
  </system.serviceModel>
</configuration>